/***************************/
/*     CONTACT     */
/***************************/
/*Formulario*/
.section__text--new{
    @extend .section__text;
    border-radius: 15px;
}

.form-container{
    display: block;
    position: relative;
    width: 80%;
    height: auto;
    padding-right: 10px;
    padding-left: 10px;
    padding-bottom: 50px;
}

.col-lg-6{
    position: relative;
    height: auto;
    padding-right: 10px;
    padding-left: 10px;
    padding-top: 70px;
}

.contact-container{
    padding-top: 50px;
}

.form-1 .text-container {
    margin-right: 1.5rem;
    margin-left: 5rem;
    align-items: center;
}

.form-1 form {
    margin-right: 6rem;
    margin-left: 1.5rem;
}

/* casillas blancas a rellenar */
.form-control-input, .form-control-select {
    display: block;
    width: 50%;
    padding-top: 1.0625rem;
    padding-bottom: 0.0625rem;
    margin-bottom: 0.50rem;
    padding-left: 1.3125rem;
    border: 1px solid #c4d8dc;
    border-radius: 0.25rem; /* redondeo el borde de las casillas */
    background-color: #fff;
    color: #626262;
    font-family: "Poppins", sans-serif;
}

#rselect{
    padding-bottom: 0.50rem;
    padding-top: 0.50rem;
}

/* Botón de ENVIAR */
.form-group-button{
    padding-bottom: 0.50rem;
    padding-top: 0.50rem;
    background-color: burlywood;
}

.social-container{
    display: inline-block;
    text-align: center;
    vertical-align: middle;
    width: 100%;
}