/***************************/
/*     GALLERY     */
/***************************/
//Mixins
@mixin bolderfont($family, $variable){
    font-family:$family;
    font-weight: $variable;
}

.gallery-container{
    padding-top: 50px;
}

/*Carousel*/
.carousel-inner img {
    display: inline-block;
    padding: 5em;
    text-align: center;
    vertical-align: middle;
    width: 100%;
    justify-content: center;
}

.carousel-item{
    padding-left: 75px;
    cursor: pointer ; /*Cambia el cursor del mouse al pasar sobre las cajas*/
    opacity: 0.9;
}

.carousel-control-next-icon, .carousel-control-prev-icon{  /*flechas de previo y próximo slide*/
    background-color: rgba(0, 0, 0, 0.541);
}
.p-carousel{
    text-align: center;
    padding: 0.5em;
    margin-bottom: 50px;
    color: rgb(22, 22, 22);
    font-family: 'Libre Baskerville';
    font-style: italic;
    background-color: rgba(255, 235, 205, 0.582);
}

.p-carousel{ /*animación de aparecer descripción en los slides del carousel*/
    animation-duration: 2s;
    animation-name: aparecer2;
}
@keyframes aparecer2 { 
    0% {
    opacity: 0;
    }
    100% {
    opacity: 1;
    }  
}

.badge-grey{ /*BUDGET*/
    @include bolderfont(poppins, bolder);
    color: rgb(62, 64, 167);
    background-color: rgba(255, 255, 255, 0.795);
    border-radius: 5px;
    padding: 5px;
    font-size: 15px;
}

.carousel-caption h3{
    color: cornsilk;
}
