
/***************************/
/*     ABOUT     */
/***************************/
//Variables
$medida:1000px;
$seccion2: about;
$border: 15px;

//Condicionales 
// $a == $b $a es igual a $b ?
// $a != $b $a es distinto de $b? (<>)
// $a < $b  $a es menor que $b?
// $a > $b $a es mayor que $b?
// <= >= menor igual o mayor igual
// ! negación

.section{
    width: 90%;
    max-width: $medida;
    margin: 1.6em auto;
    padding-top: ($medida/10)-60; /*calculadas: divido y resto*/
    padding-bottom: ($medida/10)-60; 
    /*Aplico Grid*/
    display: grid;
    gap: none; /*indico que no quiero espacio entre las dos cajas*/
    grid-template-columns: repeat(1, 1fr); /*genero con fracciones mis 2 columnas, para la foto, y otra para el texto*/
    align-items: center;
    /*Caja de Foto, y le indico donde ubicarse*/ 
    .section__me{
        grid-row: 1;
        grid-column: 1;
    }
}


/*Caja de Texto*/
.section__text{
    grid-column: 2;
    align-items: center;
    height: auto;
    border: 1px solid #c4d8dc;
    border-radius: 0.25rem;
    
    @if $seccion2==contact{
        background-color: #fde3e3;
    }
    @else if $seccion2==about{
        background-color: white; /*Aplico condicional*/
    }
    @else{
        background-color: pink;
    }
    /*Hago aparecer el texto "About me"*/
    p {
    animation-duration: 2s;
    animation-name: aparecer;
    }

    @keyframes aparecer {
    0% {
    opacity: 0;
    }
    100% {
    opacity: 1;
    }  
    }
}

.about-container{
    display: inline-block;
    text-align: center;
    vertical-align: middle;
    justify-content: center;
    padding-top: 1rem;
    padding-bottom: 1rem;
    width: 100%;
}

.card{
    display: inline-block;
    padding: 5em;
    margin-top: 2em;
    max-width: 18rem;
    margin-right: 7px;
    margin-bottom: 4.5rem;
    margin-left: 7px;
    padding: 3.25rem 2rem 2rem 2rem;
    border: 1px solid #c4d8dc;
    border-radius: 0.5rem;
    background: #fef6ff;}